go 1.25.3

toolchain go1.25.3

use (
	./apps/admin-bff
	./apps/mobile-bff
	./apps/web-bff
	./packages/go-lib/config
	./packages/go-lib/logger
	./packages/go-lib/metrics
	./packages/go-lib/tracer
	./packages/proto-gen-go
	./services/payment-service
	./services/user-service
)
