go 1.26.1

toolchain go1.26.1

use (
	./apps/admin-bff
	./apps/mobile-bff
	./apps/web-bff
	./packages/proto-gen-go/foo
	./packages/proto-gen-go/monorepo
	./services/payment-service
	./services/user-service
)
